.BackGround
{ 
    background-image:url('Image/BackGround.png'); 
    filter : blur(5px);
    width: 100%;
    height: 100%;
    position: fixed;
    top : 40px;
}

.MainScreen
{ 
    background-image:url('Image/MainScreen.png'); 
    background-repeat: no-repeat;
    width: 100%;
    height: 1080px;
    position: relative;
    top : 100px;
    left : 7%; 
}

.partition_production
{
    background-color:gray;
    width: 100%;
    height: 50px;
    position: relative;
    top : -30px;
}

.partition_production-font
{
    color: white;
    font-family: cursive;
     font-size: 40px;
     width: 0;
     height: 0px;
     position: relative;
     top : -82px;
     left : 43%; 
}

.partition_profile
{
    background-color:gray;
    width: 100%;
    height: 50px;
    position: relative;
    top : -39.5%;
}

.partition_profile-font
{
    color: white;
    font-family: cursive;
     font-size: 40px;
     width: 0;
     height: 0px;
     position: relative;
     top : -45%;
     left : 46.5%; 
}

.taskbar
{
    background-color:gray;
    width: 100%;
    height: 50px;
    position: fixed;
    top : 0px;
    left : 0px; 
}

.taskbar_welcome-font
{
    color: white;
    font-family: cursive;
    font-size: 40px;
    width: 0;
    height: 0px;
    position: fixed;
    top : -3px;
    left : 45%; 
}

.homebuttom-img
{
    background-image:url('Image/HomeButton.png'); 
    width: 50px;
    height: 50px;
    position: fixed;
    top : 0px;
    left : 30px;          
}

.homebuttom-img
{
    background-image:url('Image/HomeButton.png'); 
    width: 50px;
    height: 50px;
    position: fixed;
    top : 0px;
    left : 30px;          
}

.pagetop
{
    color: black;
    font-family: cursive;
     font-size: 40px;
     width: 100%;
     height: 40px;
     position: relative;
     top : -31%;
     left : 45.5%; 
}
